@use 'forms' as *;

.qs-filter-container {
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  border-radius: 12px;
}

.qs-search-field {
  @include qs-hide-subscript;
  flex: 1;
  min-width: 0;
  max-width: 400px;
}

.dark-theme .qs-search-field .mat-mdc-text-field-wrapper {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
